html {
  height: -webkit-fill-available; /* We have to fix html height */
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 3rem;
}

h1 {
  color: white;
  font-size: 4rem;
}

.qrCodeBx {
  display: flex;
  align-items: center;
  justify-content: center;
}

#textData {
  display: table-cell;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;
  font-size: 1rem;
  width: 22rem;
  height: 2rem;
  border-radius: 10rem;
  padding-top: 0.80rem;
  padding-left: 1.2rem;
}

#qrGenerator {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.50rem;
  background-color: black;
  color: white;
}

.qrBackground {
  position: relative;
  height: 70vh;
  width: 70vw;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#qrCode {
  width: 75px;
  padding: 0.60rem;
  margin-top: 4rem;
  background: white;
  border-radius: 0.75rem;
}

#randColor {
  margin-top: 0.50rem;
  padding: 1rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 0.50rem;
  background-color: rgb(216, 216, 216);
  color: rgb(0, 0, 0);
}

.submitButtons {
  display: inline;
}
